html,body {
  width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  /*para nao ter barra de rolagem na horizontal*/
 
}

nav ul {
    display: flex;
    flex-direction: row;
  }

  nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
  }


  .contato {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
    color: var(--dourado);
    cursor: pointer;
  }

  nav ul li a {
    color: var(--dourado);
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #daa520;
  }
  
  :root {
    --orange: #f78b00;
    --dourado: #daa520;
    --gray: #ededed;
  }

  nav ul button {
    border: 1px solid var(--dourado);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color: var(--dourado);
    font-weight: bold;
    border-radius: 4px;
  }
.text {
    color: #daa520;
  }

  .principal {
    color: #daa520;
    text-align: center;
  }

  .pesquisa {
    width: 40opx;
    display: block;
    margin-left: 60px;
  }

  #barra {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    border:#daa520 4px solid;
    border-radius: 15px;
    outline: none;
  }
  .marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .marca {
    width: 30%;
    text-align: center;
  }
  
  .marca h3 {
    font-size: 24px;
  }
  
  .marca button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }

/*configurando o flooter*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
footer{
  background-color: #000000;
  padding: 50px 0;
}
.footer{
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;
}
.ListaFooter{
  display: flex;
  flex-wrap: wrap;
}
/*define se os itens flexíveis são forçados a ficarem na mesma linha ou se podem ser quebradas em varias linhas*/

.footer-coluna{
  width: 25%;
  padding: 0 15px;
}

.footer-coluna h4{
  font-size: 22px;
  color:#daa520;
}


.footer-coluna ul{
  list-style: none;
}


.footer-coluna ul li a{
  
  color:#daa520;
  text-decoration: none;
  display: block;
}

